<form>
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required />

  <label for="senha">Senha:</label>
  <input type="password" id="senha" name="senha" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="telefone">Telefone:</label>
  <input type="tel" id="telefone" name="telefone" required />

  <div class="aceitar-termos">
    <input type="checkbox" id="termos" name="termos" required />
    <label for="termos">
      <span class="checkmark"></span>
      Concordo com os Termos e Condições e a Política de Privacidade
    </label>
  </div>

  <button type="submit">Criar Conta</button>
</form>
