.chat-e-perfil{
    display: none;
}

.footer{
    filter: drop-shadow(0 0px 8px #333333);
    border-radius: 20px 20px 0 0;
    background-color: #c7e4bb;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;;
    color: #fff;
    justify-content: space-around;
    padding: 10px 8px 8px 8px;
    flex-direction: row;
}

.img1{
    width: 41px;
}
.img2{
    width: 40px;
}
.img3{
    width: 40px;
}
.img4{
    width: 41px;
}

.footer :active{
    transform: scale(1.2);
    transition: 0.1s ease-in;
}