<div class="container">
  <div class="card">
    <h1>Seu Perfil</h1>
    <div class="img_card">
      <img alt="" />
      <button class="botao_alterar_conta">
        <img src="../../assets/img/editar-icone.png" alt="" />
      </button>
    </div>
    <div class="informacoes_inferiores">
      <div class="label_input">
        <input
          type="text"
          id="valor"
          name="valor"
          required
          placeholder="Seu nome"
        />
      </div>
      <div class="label_input">
        <input
          type="text"
          id="tipo"
          name="tipo"
          required
          placeholder="Seu e-mail"
        />
      </div>
      <div class="label_input">
        <label for="descricao">Breve descrição:</label>
        <textarea
          type="text"
          id="descricao"
          name="descricao"
          required
          placeholder="Descreva rápidamente seu produto"
        >
        </textarea>
      </div>
    </div>
    <div class="buttons">
      <div class="botao_esquerdo">
        <button class="botao_cancelar">Cancelar</button>
      </div>
      <div class="botao_direito">
        <button class="botao_concluir">Concluir</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
