<div class="container">
    <div class="card">
        <div class="informacoes_superiores">
            <div class="esquerda"><h2>Ceasa-SP</h2><h3>11 99999-9999</h3></div>
            <div class="direita"><h4>18/03/2023</h4></div>
        </div>
        <img src="../../assets/img/imagem-card.jpg" alt="">
        <div class="informacoes_inferiores"><h3>Banana Prata</h3><h3>R$5,00 KG</h3></div>
        <div class="buttons">
            <div class="botao_esquerdo"><button class="botao_nao"></button></div>
            <div class="botao_direito"><button class="botao_sim"></button></div>
        </div>
    </div>
</div>
