<div class="container">
  <div class="card" *ngFor="let post of posts">
    <div class="informacoes_superiores">
      <div class="esquerda">
        <h2 #local>{{ post.local }}</h2>
        <p #telefone>{{ post.telefone }}</p>
      </div>
      <div class="direita">
        <p #data>{{ post.data }}</p>
      </div>
    </div>
    <img class="img_card" src="../../assets/img/posts/{{ post.tipo }}" alt="" #tipo/>
    <div class="descricao_escondida" #descricao>{{post.descricao}}</div>
    <div class="informacoes_inferiores">
      <p #titulo>{{ post.titulo }}</p>
      <p #valor>R${{ post.valor }} KG</p>
    </div>
    <div class="buttons">
      <div class="botao_esquerdo">
        <button class="botao_nao"><img src="../../assets/img/icone-x.png" alt=""></button>
      </div>
      <div class="botao_direito">
        <button class="botao_sim"><img src="../../assets/img/icone-coracao.png" alt=""></button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>