<div class="container">
  <div class="card" *ngFor="let post of posts">
    <div class="informacoes_superiores">
      <div class="esquerda">
        <h2 #tipo class="tipo">{{ post.tipo}}</h2>
        <p #nome>{{ post.nome }}</p>
      </div>
      <div class="direita">
        <h2 #data>{{ post.data }}</h2>
        <p #local>{{ post.local }}</p>
        <p></p>
      </div>
    </div>
    <img class="img_card" src="../../assets/img/posts/{{ post.tipo }}.jpg" alt="" #tipo/>
    <div class="informacoes_inferiores">
      <p #descricao>{{ post.descricao}}</p>
      <p #valor>R${{ post.valor }} KG</p>
    </div>
    <div class="buttons">
      <div class="botao_esquerdo">
        <button class="botao_nao"><img src="../../assets/img/icone-x.png" alt=""></button>
      </div>
      <div class="botao_direito">
        <button class="botao_sim"><img src="../../assets/img/chat-icone-seletor.png" alt=""></button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>