<div class="container">
  <h1>Cadastre seu Post</h1>
  <div class="form">
    <div class="label_input">
      <label for="nome">Titulo:</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        required
        placeholder="Digite seu titulo"
        #titulo
      />
    </div>
    <div class="label_input">
      <label for="valor">Valor do quilo (R$):</label>
      <input
        type="number"
        id="valor"
        name="valor"
        required
        placeholder="Digite o valor do seu produto"
        #valor
      />
    </div>
    <div class="label_input">
      <label for="valor">Tipo:</label>
      <select
        class="label_input select_input"
        name="tipo"
        id="tipo"
        required
        #tipo
      >
        <option value="abacate.jpg">Abacate</option>
        <option value="abacaxi.jpg">Abacaxi</option>
        <option value="abobora.jpg">Abóbora</option>
        <option value="abobrinha.jpg">Abobrinha</option>
        <option value="acai.jpg">Açaí</option>
        <option value="acelga.jpg">Acelga</option>
        <option value="agriao.jpg">Agrião</option>
        <option value="alface.jpg">Alface</option>
        <option value="ameixa.jpg">Ameixa</option>
        <option value="amora.jpg">Amora</option>
        <option value="arroz.jpg">Arroz</option>
        <option value="aspargo.jpg">Aspargo</option>
        <option value="azeiteNatural.jpg">
          Azeite
        </option>
        <option value="azeitona.jpg">Azeitona</option>
        <option value="banana.jpg">Banana</option>
        <option value="batata.jpg">Batata</option>
        <option value="batataDoce.jpg">
          Batata Doce
        </option>
        <option value="beringela.jpg">Beringela</option>
        <option value="beterraba.jpg">Beterraba</option>
        <option value="brocolis.jpg">Brócolis</option>
        <option value="cacau.jpg">Cacau</option>
        <option value="cafe.jpg">Café</option>
        <option value="caju.jpg">Cajú</option>
        <option value="carambola.jpg">Carambola</option>
        <option value="cebola.jpg">Cebola</option>
        <option value="cebolinha.jpg">Cebolinha</option>
        <option value="cenora.jpg">Cenoura</option>
        <option value="cereja.jpg">Cereja</option>
        <option value="chuchu.jpg">Chuchu</option>
        <option value="coco.jpg">Coco</option>
        <option value="coentro.jpg">Coentro</option>
        <option value="cogumelo.jpg">Cogumelo</option>
        <option value="couve.jpg">Couve</option>
        <option value="ervilha.jpg">Ervilha</option>
        <option value="espinafre.jpg">Espinafre</option>
        <option value="feijao.jpg">Feijão</option>
        <option value="figo.jpg">Figo</option>
        <option value="framboesa.jpg">Framboesa</option>
        <option value="goiaba.jpg">Goiaba</option>
        <option value="granola.jpg">Granola</option>
        <option value="graDeBico.jpg">
          Grão De Bico
        </option>
        <option value="groselha.jpg">Groselha</option>
        <option value="inhame.jpg">Inhame</option>
        <option value="jabuticaba.jpg">
          Jabuticaba
        </option>
        <option value="jaca.jpg">Jaca</option>
        <option value="kiwi.jpg">Kiwi</option>
        <option value="laranja.jpg">Laranja</option>
        <option value="lichia.jpg">Lichia</option>
        <option value="limao.jpg">Limão</option>
        <option value="linhaca.jpg">Linhaça</option>
        <option value="mandioca.jpg">Mandioca</option>
        <option value="manga.jpg">Manga</option>
        <option value="maracuja.jpg">Maracujá</option>
        <option value="mel.jpg">Mel</option>
        <option value="melancia.jpg">Melancia</option>
        <option value="melao.jpg">Melão</option>
        <option value="milho.jpg">Milho</option>
        <option value="morango.jpg">Morango</option>
        <option value="pepino.jpg">Pepino</option>
        <option value="pessego.jpg">Pêssego</option>
        <option value="pimenta.jpg">Pimenta</option>
        <option value="pimentao.jpg">Pimentão</option>
        <option value="pinha.jpg">
          Pinha ou Pinhão
        </option>
        <option value="rabanete.jpg">Rabanete</option>
        <option value="repolho.jpg">Repolho</option>
        <option value="roma.jpg">Romã</option>
        <option value="rucula.jpg">Rúcula</option>
        <option value="tamarindo.jpg">Tamarindo</option>
        <option value="tomate.jpg">Tomate</option>
        <option value="uva.jpg">Uva</option>
        <option value="zzOutrosVariedades.jpg">
          Outros / Variedades
        </option>
      </select>
    </div>
    <div class="label_input">
      <label for="descricao">Descrição:</label>
      <textarea
        class="textarea"
        type="text"
        id="descricao"
        name="descricao"
        required
        placeholder="Descreva rápidamente seu produto"
        #descricao
      ></textarea>
    </div>
    <button
      class="buttons"
      (click)="
        CriarPost(titulo.value, valor.value, tipo.value, descricao.value)
      "
    >
      P U B L I C A R
    </button>
  </div>
  <div class="h1_seus_posts"><h1>Seu Posts</h1></div>
  <div class="card" *ngFor="let post of posts">
    <div class="informacoes">
      <div class="informacoes_esquerda">
        <h2 #titulo>{{ post.titulo }}</h2>
        <div class="descricao">
          <p #descricao>
            {{ post.descricao }}
          </p>
        </div>
      </div>
      <div class="informacoes_direita">
        <p #data>{{ post.data }}</p>
        <img class="img_card" src='../../assets/img/posts/{{post.tipo}}' alt="" />
        <p #valor>R${{ post.valor }} KG</p>
        <input type="text" class="postID" value={{post.tipo}} #postID>
      </div>
    </div>
    <div class="buttons_posts">
      <div class="botao_esquerdo">
        <button class="botao_editar">Editar</button>
      </div>
      <div class="botao_direito">
        <button class="botao_excluir" (click)="DeletarPost(postID.value)">Excluir</button>
      </div>
    </div>
  </div>
  <div class="espaco_footer"></div>
</div>
<app-footer></app-footer>
