<div class="container">
  <div class="card">
    <div class="botao_superior">
      <button class="botao_alterar_conta">
        <a href="../perfil-edicao/"
          >Editar conta <img src="../../assets/img/editar-icone.png" alt=""
        /></a>
      </button>
    </div>
    <img class="img_card" src="../../assets/img/img-perfil.jpg" alt="" />
    <div class="informacoes_inferiores">
      <h2>Julia Maria De Souza</h2>
      <p>Sou uma produtora de tomates que adora fazer compras pelo SlowFu</p>
    </div>
    <div class="buttons">
      <div class="botao_esquerdo">
        <a href="../redefinir-senha/"><button class="botao_senha">Alterar Senha</button></a>
      </div>
      <div class="botao_direito">
        <button class="botao_deletar">Deletar Conta</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
