.logo img{
  width: 250px;
}

.buttons {
  width: 100%;
  margin-top: 70px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons img{
  width: 20px;
  padding-right: 7px;
  vertical-align: middle;
}

.login {
  font-weight: bold;
  width: 80%;
  margin-right: 10px;
  background-color: #3fb592;
  border: 2px solid #3fb592;
  color: #333;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin: 3%;
  margin-bottom: 10px;
}

.login:active{
  transition: 0.1s ease-in;
  background-color: #3fb592;
  border: 2px solid #3fb592;
  transform: scale(0.9);
}

.signup {
  font-weight: bold;
  width: 80%;
  border: #333;
  border: 2px solid #333;
  background-color: #c7e4bb;
  color: #333;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin: 3%;
}

.signup:active{
  transition: 0.1s ease-in;
  background-color: #3fb592;
  border: 2px solid #3fb592;
  transform: scale(0.9);
}

.login_redes {
  display: flex;
  justify-content: start;
  gap: 4px;
  font-weight: bold;
  width: 80%;
  margin-right: 10px;
  border: 2px solid #333;
  background-color: #c7e4bb;
  color: #333;
  padding: 7px 10%;
  font-size: 13px;
  border-radius: 20px;
  margin: 3%;
  margin-bottom: 10px;
}

.area_login_redes{
  display: none;
}

.login_redes:active{
  transition: 0.1s ease-in;
  background-color: #3fb592;
  border: 2px solid #3fb592;
  transform: scale(0.9);
}
