  <div class="container">
    <div class="logo">
      <img src="assets/img/logoslowfu.png" alt="SlowFu" />
    </div>
    <h1 class="titulo">SlowFu</h1>
    <h2 class="manifesto">Fortalecendo a Policultura Familiar</h2>
    <div class="buttons">
      <a class="login" href="../login">Login</a>
      <a class="signup" href="../cadastro">Cadastrar</a>
    </div>
    <h2 class="area_login_redes">Login com as redes sociais</h2>
    <div class="buttons">
      <button class="login_redes area_login_redes"><img src="../../assets/img/Google-Icon-PNG_rwscww.png" alt=""> Continuar com o google</button>
      <button class="login_redes area_login_redes"><img src="../../assets/img/facebook-13.png" alt=""> Continuar com o facebook</button>
    </div>
  </div>
